{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="https://warm-wildwood-37005.herokuapp.com/?params=true">Test link</a><br>
  </div>
</div>

{% endblock %}
